:root {
    /* palette */
    --primary-dark-: #2C3E50;
    --primary-green: #1ABC9C;
    --secondary-dark: #3A546D;
    --card-one: #BA4B63;
    --card-two: #1EA4B6;
    --card-three: #1C83C1;
    --card-four: #0E38B5;
    --card-five: #CCB2A3;

}

/* UTILITIES */

.bg-color-pr-d {
    background-color: var(--primary-dark-);
}

.bg-color-pr-g {
    background-color: var(--primary-green);
}

.vertical-align-center {
    vertical-align: center;
}

.no-border {
    border:none;
}

img {
    max-width: 100%;
}

.hr-star {
    display: flex;

   
}

#hero .hr-line {
    width: 20%;
    height: 5px;
    color: white;
    /* position: relative; */
    
}

#hero hr {
    color: white;
    opacity: 1;
}

#hero .hr-star i {
    color: white;
    /* position: relative;
    top: 1px; */
    font-size: 1.5rem;
}

#portfolio .hr-line {
    width: 20%;
    height: 5px;
    color: black;
}

#portfolio hr {
    color: black;
    opacity: 1;
}

#portfolio .hr-star i {
    color: black;
   
    font-size: 1.5rem;
}


#about .hr-line {
    width: 20%;
    height: 5px;
    color: white;
   
    
}

#about hr {
    color: white;
    opacity: 1;
}

#about .hr-star i {
    color: white;
    font-size: 1.2rem;
}

/* /UTILITIES */


/* LAYOUT */


.wrapper {
    width: 80%;
    margin: 0 auto;
}

.wrapper-s {
    width: 60%;
    margin: 0 auto;
}


/* /LAYOUT */

header {
    background-color: var(--primary-dark-);
    color: white;
    padding: 1rem 0;
}


header ul, li {
    list-style-type: none;
    display: flex;
    gap: 2rem;
    color:white;
    
}

header .navbar-nav a {
    color: white; 
}

#hero {
   
    background-color: var(--primary-green);
    padding: 2rem 0;
    
}

#hero img {
    max-width: 200px;
    ;
}



#about {
    padding: 2rem 0;
    background-color: var(--primary-green);
    color: white;
}

#contact-me {
    padding: 2rem 0;
}

#footer-top {
    padding: 2rem 0;
    background-color: var(--secondary-dark);
    color: white;

}

#footer-bottom {
    padding: 2rem 0;
    background-color: var(--primary-dark-);
    color: white;
}




